<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
   <div class="container">

    <header id="wrapper" class="container">
        <%= render '/refinery/header' -%>
      </header>
       <div class="column page">
        <%= yield %>
        <%= render '/refinery/brewing_beers/brewing_beers/beers' %>
      </section>
		<footer class="container sixteen columns">        
			<%= render '/refinery/footer' -%>

      </footer>

    </div>
    <%= render '/refinery/javascripts' %>
    <%= yield :scripts %>
  </body>
  <script>
$('#sticky').stickytoolbar({ onStaticClass: 'sticktoolbar-static' });
$('ul#twitter_update_list').cycle({ next: 'ul#twitter_update_list', 
 fx: 'fade', delay: -5000 // This can be changed to whatever you like - lower the number, longer each tweet stays on-screen. 
 }); 
</script>
</html>
