<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%= render '/refinery/head' %>
<body>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <header class="pagetop container">
    <%= render '/refinery/header' -%>
  </header>
 	<div class="container page">
      <%= yield %>
			<footer class='sixteen columns'>        
				<%= render '/refinery/footer' -%>
			</footer>
		</div>
		
		<%= render '/refinery/social' -%>
		<div class='copyright container'>
			<aside class="six columns offset-by-six">
		<p>
		  <%= t('copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
			
		</p>
		</aside>
	</div>
    <%= render '/refinery/javascripts' %>
    <%= yield :scripts %>
  </body>

<script>
  
    $(window).load(function(){
      $("#sticker").sticky({ topSpacing: 0, className: 'sticky', wrapperClassName: 'my-wrapper' });
    });
  
$('ul#twitter_update_list').cycle({ next: 'ul#twitter_update_list', 
 fx: 'fade', delay: -5000, width: 300 // This can be changed to whatever you like - lower the number, longer each tweet stays on-screen. 
 }); 

$(window).resize(function(){
   console.log('resize called');
   var width = $(window).width();
   if(width <= 767){
       $('#sticker-sticky-wrapper').removeClass('my-wrapper')
   }
   else{
       $('#sticker-sticky-wrapper').addClass('my-wrapper');
   }
})
.resize();//trigger the resize event on page load.

 
</script>
</html>
